 <div class="jumbotron">
      <div class="signup_container">
        <h1>FIQUE CONECTADO</h1>
        <p>RECEBA NOVIDADES </br>SOBRE NOVOS PASSEIOS.</p>


        <%= form_for(@signup) do |f| %>
              <%= f.text_field :firstname, :placeholder => "Nome" %><br>
              <%= f.text_field :email, :placeholder => "seuemail@host.com" %><br>
              <%= f.submit "Junte-se a nós", :class =>'btn' %>
        <% end %>


      </div>

      <button type="button" class="btn btn-primary btn-lg"><img src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-transparent-33.png" width="100" class="d-block mb-2 image_about" > OU MANDA UM ZAP</button>
  </div>