<main>
<div id="Awesome" class="anim750 slide-in-bck-center">

  <div class="reveal circle_wrapper">
		<div class="circle"><a href="#">SAIBA MAIS !</a></div>
	</div>

	<div class="sticky anim750">
		<div class="front circle_wrapper anim750">
			<div class="circle anim750"></div>
	  </div>
	</div>
    <div class="texto_topo_sticker">
        <%= image_tag "localizacao.png", class: "img_sticker tilt-in-bl"%>
        <h4>PLANEJE</h4>
        <h4>SUA VIAGEM</h4>
        <h4>CONOSCO !</h4>
    </div>
  <div class="sticky anim750">
		<div class="back circle_wrapper anim750">
			<div class="circle anim750"></div>
		</div>
	</div>

</div>
</main>

<div class="letreiro">
  <div class="container">
            <img src="https://www.onlygfx.com/wp-content/uploads/2021/07/paper-plane-10.png" alt="avião de papel" id="plane"  class="aviao voar">
  </div>


	<h1>ESTÁ COM DÚVIDAS SOBRE O MELHOR DESTINO ? </h1>
  <div class="linha_letreiro">
	    <div id="pole">
        <div id="right">
          <a class="sign-link" href="#">Buenos Aires</a>
        </div>
        <div id="right_2">
          <p class="sign-link" href="#">Buenos Aires é apaixonante logo à primeira vista, por sua arquitetura charmosa, edifícios imponentes do século 19, vida cultural fervilhante e opções incríveis de restaurantes, parques, lojas, pontos turísticos e entretenimento noturno.</p>
          <div id="right-arrow"></div>
        </div>
      </div>

      <div id="pole">
        <div id="left">
          <a class="sign-link" href="#">Maragogi</a>
        </div>
        <div id="left_2">
          <p class="sign-link" href="#">Suas praias têm mar tranquilo, areias alvas e densos coqueirais, destacando-se as de Barra Grande, <br /> Burgalhau, Antunes, Peroba e São Bento.</p>
        </div>
      </div>
  </div>
</div>
