<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="https://svgsilh.com/svg/154918.svg" width="50" class="d-block mb-2" >
    <a class="navbar-brand" href="#">Tour Pirassema</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Início</a>
        <a class="nav-link" href="#">Passeios</a>
        <a class="nav-link" href="#">Contato</a>
      </div>
    </div>
  </div>
</nav>
<main>
<div id="Awesome" class="anim750 slide-in-bck-center">

  <div class="reveal circle_wrapper">
		<div class="circle"><a href="#">SAIBA MAIS !</a></div>
	</div>

	<div class="sticky anim750">
		<div class="front circle_wrapper anim750">
			<div class="circle anim750"></div>
	  </div>
	</div>
    <div class="texto_topo_sticker">
        <%= image_tag "localizacao.png", class: "img_sticker tilt-in-bl"%>
        <h4>PLANEJE</h4>
        <h4>SUA VIAGEM</h4>
        <h4>CONOSCO !</h4>
    </div>
  <div class="sticky anim750">
		<div class="back circle_wrapper anim750">
			<div class="circle anim750"></div>
		</div>
	</div>

</div>
</main>

<div class="letreiro">
  <div class="container">
    <img src="https://www.onlygfx.com/wp-content/uploads/2021/07/paper-plane-10.png" alt="avião de papel" id="plane"  class="aviao load-hidden">
  </div>


	<h1>ESTÁ COM DÚVIDAS SOBRE O MELHOR DESTINO ? </h1>
  <div class="linha_letreiro">
	    <div id="pole">
        <div id="right">
          <a class="sign-link" href="#">Buenos Aires</a>
        </div>
        <div id="right_2">
          <p class="sign-link" href="#">Buenos Aires é apaixonante logo à primeira vista, por sua arquitetura charmosa, edifícios imponentes do século 19, vida cultural fervilhante e opções incríveis de restaurantes, parques, lojas, pontos turísticos e entretenimento noturno.</p>
          <div id="right-arrow"></div>
        </div>
      </div>

      <div id="pole_2">
        <div id="left">
          <a class="sign-link" href="#">Maragogi</a>
        </div>
        <div id="left_2">
          <p class="sign-link" href="#">Suas praias têm mar tranquilo, areias alvas e densos coqueirais, destacando-se as de Barra Grande, <br /> Burgalhau, Antunes, Peroba e São Bento.</p>
        </div>
      </div>
  </div>
</div>
<div class="secao3">
</div>
<div class="animation letreiro_2">
  <img src="https://blog.vaidevoala.com.br/wp-content/uploads/2019/04/12-8-melhores-praias-do-Brasil-para-voce%CC%82-conhecer.png" alt="foto_praia" class="fotos_secao_3"/>
  <img src="https://www.guiadasemana.com.br/contentFiles/image/opt_w1280h960/2017/09/FEA/51754_acampar-barraca-nas-arvores.jpg" alt="foto_acampamento" class="fotos_secao_3"/>
  <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/f89d3c30e3e362729810ecccef435c87.jpg" alt="foto_cidade" class="fotos_secao_3"/>
  <img src="https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/coral-reforestation-maldives.jpg?w=1600&h=900" alt="foto_passeio" class="fotos_secao_3"/>
  <img src="https://cdn.paytour.com.br/assets/images/passeios-188/list_big_03f8867e81e9a67c1f18b2d77c1a2e47/s_slide_2.jpg" alt="foto_passeio" class="fotos_secao_3"/>
  <svg viewBox="0 0 1980 800" class="svg_s3">
    <path stroke="#ffffff" stroke-width="0" fill="none" d="M 0,0 Q 300,100 450,80 Q 800,60 900,120 Q 1200,260 1350,220 Q 1500,190 1980,50" />
    <path stroke="#ffffff" stroke-width="1" fill="none" d="M 0,0 C 200,100 300,200 400,150 C 500,100 600,200 1080,200 C 1280,200 1680,200 1980,0" />
  </svg>
    <div class="texto">
  <h1>AQUI NÃO EXISTE DÚVIDA ! ENCONTRAMOS OS MELHORES DESTINOS QUE COMBINAM COM VOCÊ !
</h1>
    </div>
</div>

<div class="secao_final">
<button type="button" class="btn btn-primary btn-lg">VEM COM A GENTE</button>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="https://svgsilh.com/svg/154918.svg" width="50" class="d-block mb-2" >
      <small class="d-block mb-3 text-muted">&copy; Tour Pirassema</small>
    </div>
    <div class="col-6 col-md">
      <h5>Passeios</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Fotos</a></li>
        <li><a class="link-secondary" href="#">Depoimentos</a></li>
        <li><a class="link-secondary" href="#">Cronograma</a></li>
        <li><a class="link-secondary" href="#">Fale com um guia</a></li>
        <li><a class="link-secondary" href="#">Dúvidas / Perguntas frequentes</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Negócios</a></li>
        <li><a class="link-secondary" href="#">Educação</a></li>
        <li><a class="link-secondary" href="#">Governo</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre Nós</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Nosso time</a></li>
        <li><a class="link-secondary" href="#">Onde estamos</a></li>
        <li><a class="link-secondary" href="#">Como começamos / nossa história</a></li>
      </ul>
    </div>
  </div>
</footer>
